<header>
  <div class="web-view">
    <div class="options">
      <app-yard-sale-logo />
      <app-options-list />
    </div>
    <div class="user-data">
      <p>{{user.email}}</p>
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="counter > 0" class="counter">{{counter}}</span>
      </button>
    </div>
  </div>
  <div class="mobile-view">
    <button (click)="toogleMenu()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <app-yard-sale-logo />
    <button mat-icon-button>
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <div class="side-menu" [class.active]="showMobileMenu">

      <button mat-icon-button (click)="toogleMenu()">
        <mat-icon >close</mat-icon>

      </button>
      <app-options-list />
    </div>
  </div>
</header>
