.ProductsContainer{
  width: 100vw;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, .4fr));
  place-items: center;
  gap: 15px;
}
@media screen and (max-width: 600px) {

}
