@use '../../../variables.scss';
.list{
  display:flex;
  list-style: none ;
  width: fit-content;
  gap: 7px;
  li{
    a{
      text-decoration: none;
      color: variables.$Very-light-pink;
      padding: 4px;
      border: solid 1px transparent;
      border-radius: 2px;
      &:hover{
        color: variables.$Hospital-green;
        border: 1px solid variables.$Hospital-green;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .list{
    flex-direction: column;
    li{
      a{
        color: variables.$Dark;
      }
    }
  }

}
