<div class="input-thing">
  <div class="input-container">
    <mat-form-field *ngFor="let label of labels; let i = index">
      <mat-label>X{{i}}</mat-label>
      <input type="number" matInput  [placeholder]="'Write X' + i "  [(ngModel)]="numbers[i]">
      <mat-error>
        Please enter a valid Number
      </mat-error>
      <mat-error>
        A number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="button()">Calcular</button>
    <h1 *ngIf="operacion">{{result}}</h1>
  </div>

</div>
